.Resume {
    text-align: center;
  }
  
  .Resume-header {
    background-color: #fbf3e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: #fa8d70;
  }