.Landing {
  text-align: center;
}

.Landing-header {
  background-color: #fbf3e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #fcc662;
}

.Landing-link {
  color: #73607c;
  font-size: calc(10px + 2vmin);
}

