.Landing {
  background-color: #fbf3e9;
  display: block;
  min-height: 90vh;
  min-width: 90vh;
  margin: 1vh;

  text-align: center;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .Landing-link {
  color: #73607c;
  font-size: calc(10px + 2vmin);
} */

.Landing-header {
  font-size: 2vh;
  justify-content: center;
  color: #fa8d70;
}

